<footer class="bg-dark py-5">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 text-white">
                    <h2>About Us</h2>
                    <p>
                        Galatic Music has been a beacon of musical excellence for millennia. Founded by the visionary Gabriel Ringo, Galatic Music has stood the test of time, delivering quality musical instruments to generations of musicians across the cosmos.
                    </p>
                    <p>Galatic Music is committed to upholding the legacy of Gabriel Ringo by continuing to provide musicians with the highest quality instruments and unparalleled customer service. We strive to foster a community of musicians who share our passion 
                        for music and our dedication to excellence. </p>
                </div>
                <div class="col-md-4 col-sm-12 text-white">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="Home" href="/">Home</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="About Us" href="/about">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="Shop" href="/shop">Shop</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="Popular Products" href="/Popular">Popular Products</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="Products on Sale" href="/new">Products on Sale</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img text-white">
                    <h2>Contact Us</h2>
                

                </div>
            </div>
        </div>
        

    </footer>
</footer>