<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Galatic Music</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link href='assets/S__1769504.jpg' rel='shortcut icon'>
</head>

<body>
    <!-- Navigation-->
    <%- include('layouts/navbar.ejs') %>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0"></p>
            </div>
        </div>
    </header>

    
    <!-- Section-->
    <div class="about-us">
        <div class="container-center center">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img src="assets/S__1769504.jpg" alt="" width="750" height="750">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2>About Galatic Music</h2>
                    <p> Established in the ancient year of 3000 BC, Galatic Music has been a beacon of musical excellence for millennia. Founded by the visionary Gabriel Ringo, Galatic Music has stood the test of time, delivering quality musical instruments to generations of musicians across the cosmos.</p>
                    <h2>Our Legacy</h2>
                    <p> Galatic Music's journey began with Gabriel Ringo's passion for music and his unwavering commitment to craftsmanship. From humble beginnings, the store has grown into a renowned destination for musicians seeking instruments of unparalleled quality and artistry.</p>
                    <h2>Our Legacy</h2>
                    <p> At Galatic Music, we promise nothing but the finest musical instruments crafted with precision and care. Each instrument carries with it the legacy of centuries of craftsmanship, ensuring that every note played resonates with the essence of excellence.</p>
                    <h2>Our Founder</h2>
                    <p> Gabriel Ringo, the visionary behind Galatic Music, was a pioneer in the world of music. His dedication to his craft and his belief in the transformative power of music have inspired countless musicians to reach for the stars and create masterpieces that transcend time and space.</p>
                    <h2>Our Commitment</h2>
                    <p> Galatic Music is committed to upholding the legacy of Gabriel Ringo by continuing to provide musicians with the highest quality instruments and unparalleled customer service. We strive to foster a community of musicians who share our passion for music and our dedication to excellence.</p>
                </div>
            </div>
            
        </div>

        <div class="container-center center">
            <div class="row">
                <div class="text-center text-black">
                    <h1 class="display-4 fw-bolder">Contact Us</h1>
                    
                </div>
                
            </div>
            
        </div>
    </div>
    <!-- Footer-->
    <%- include('layouts/footer.ejs') %>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>